/* Events Slider */

.event_details {
	background: rgba(20, 50, 91, 0.5) !important; /* Background Colour & Transparency */
  	/* Shouldn't need to change any below values */
	display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
  	bottom: 0 !important;
    	text-align: center;
    	width: 100% !important;
    	left: 0 !important;
    	padding: 0 !important;
  	height:33%;
  	max-height:33%;
}
  
.event_details > h1 { /* Slider Event Heading */
    	font-family: "savuer", sans-serif !important;
    	font-weight: 600 !important;
    	text-transform: none !important;
    	font-size: 34px !important;
    	color: #fff !important;
  	/* Shouldn't need to change any below values */
  	text-shadow: rgba(0, 0, 0, 0) 0px 0px !important;
  	margin:0 !important;
    	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  	width: 90%;
}

.event_details > h3 { /* Slider Event Date */
    	font-family: "savuer", Gadget, sans-serif !important;
    	font-weight: 600 !important;
    	text-transform: uppercase;
    	color: rgb(208, 155, 44) !important;
    	font-size: 34px !important;
  	/* Shouldn't need to change any below values */
    	text-shadow: rgba(0, 0, 0, 0) 0px 0px !important;
  	display: block !important;
  	margin:0 !important;
  	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  	width: 90%;
}

.a8-carousel-item img {
  	width: 100% !important;
  	object-fit: cover;
  	height: 100%;
}

@media (max-width: 992px) { /* Tablet Font Size, should be the same as desktop */
	.a8-carousel-item .event_details > h1 {
  		font-size: 34px !important;
	}
}

@media (max-width: 767px) { /* Mobile Font Sizes, adjust as needed */
	.a8-carousel-item .event_details > h1 {
  		font-size: 23px !important;
  		line-height: 1.1 !important;
  		margin: 0 !important;
	}
  
	.a8-carousel-item .event_details > h3 {
    		font-size: 15px !important;
		font-family: 'Montserrat' !important;
		text-transform: uppercase !important;
		line-height: 1.4 !important;
	}
  
  	.event_details {
  		min-height:60px;
	}
}

/* End Slider */

/* Events Listings */

/* Font & Colour controls */

div.ezywebevents-heading {    
    	font-family: 'savuer' !important;      
    	font-size: 20px !important;    
    	font-weight: 600 !important;     
    	color:  rgb(20, 50, 91) !important; 
  	text-transform: none !important;
}

.ezywebevents-date {    
    	font-family: 'savuer' !important;      
    	font-size: 17px !important;       
    	font-weight: 600 !important;      
    	color:  rgb(208, 155, 44) !important; 
  	text-transform: none !important;
	padding:0 !important;
}

.ezywebevents-text {    
    	font-family:  'Roboto' !important;
  	font-size: 14px !important;  
  	font-weight:500 !important;
  	color:rgb(86, 86, 86) !important;
  	text-transform: none !important;
}

.ewe-masonry-tile, .homepage_events .ewe-facebook-container-tile {
  	background:#fff;
}

/* End Font & Colour controls. Shouldn't need to change anything below here */

/* Homepage Tile Layout */

.homepage_events div.ezywebevents-heading {
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  	max-height: none;
	padding: 0;
}

.homepage_events .ezywebevents-text {    
    	display:none;
}

.homepage_events .ezywebevents-date {      
  	margin:0 30px 30px !important;
}

.homepage_events .ewe-image {
    	height: 270px !important;
}
  
.homepage_events .ezywebevents-wrapper {
  	z-index: 1;
	margin-right: auto;
	margin-left: auto;
	border: 0;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	font-size: 1em;
  	max-width: 1200px;
  	width: 100%;
  	display: flex;
	position: relative;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: stretch;
  	min-width: 0;
  	height: auto;
	min-height: 0;
	max-height: none;
  	box-sizing: border-box;
}

.homepage_events .ewe-facebook-container {
  	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	margin-top: calc(((20px / 2) + 1px) * -1);
	margin-right: calc(((20px / 2) + 1px) * -1);
	margin-bottom: calc(((20px / 2) + 1px) * -1);
	margin-left: calc(((20px / 2) + 1px) * -1);
  	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	min-width: 0;
	min-height: 0;
  	box-sizing: border-box;
}

.homepage_events .ewe-facebook-container-tile {
  	flex-basis: calc(33.33% - 20px);
  	flex-grow: 1;
  	margin-top: calc(20px / 2);
	margin-bottom: calc(20px / 2);
	margin-right: calc(20px / 2);
	margin-left: calc(20px / 2);
  	flex-shrink: 1;
  	display: block !important;
	position: relative;
	width: auto !important;
	min-width: 0 !important;
	max-width: 100% !important;
	height: auto;
	min-height: 0;
	max-height: none;
  	padding:0 !important;
  	box-shadow: 0em 0.25em 1.5em 0em rgba(23,20,50,0.25) !important;
}

@media all and (max-width: 766px) and (min-width: 100px) {
  	.homepage_events .ewe-facebook-container-tile { 
  		flex-basis: calc(100% - 20px);
  	}
}

.homepage_events .ewe-image {
  	aspect-ratio: 16 / 9;
    	height:auto !important;
}

@supports not (aspect-ratio: 1 / 1) {
  	.homepage_events  .ewe-image {
    		height:32vmax;
  	}
}

/* End Homepage Layout */

/* What's On Masonry Layout */

.ewe-masonry-tile [id^=heading] {
  	padding:0 !important;
}

div.ezywebevents-heading {    
    	line-height:1.3 !important;    
  	margin:30px 30px 0px 30px !important;
}

.ezywebevents-date {    
    	line-height:1 !important;     
  	margin: 5px 30px 30px !important;
	padding: 0 !important;
}

.ezywebevents-text {    
  	display:block;
  	margin:30px 30px 30px 30px !important;
  	line-height:1.3 !important;
	padding:0 !important;
}

.ewe-image {
    	display: block;
    	padding: 0px !important;
    	border-radius: 0 !important;
    	border: none !important;
  	overflow:hidden;
}

.center-cropped {
    	background-position: center center;
    	background-repeat: no-repeat;
    	background-size: cover;
}

.ewe-masonry-tile {
    	display: inline-block;
    	margin-bottom:10px;
    	margin-top:10px;
    	margin-right:1%;
    	margin-left:1%;
    	width:31% !important;
  	padding:0 !important;
  	box-shadow: 0em 0.25em 1.5em 0em rgba(0,0,0,0.1) !important;
}

.ewe-ezyevents-container{
    	margin:20px;
}

.ewe-ezyevents-container-tile {
    	margin:10px 0 0 0;
}

.ezywebevents-wrapper {
    	box-sizing:content-box;
    	margin: 0 auto;
}

.ezywebevents-wrapper > div {
    	box-sizing:content-box;
}

@media all and (max-width: 699px) and (min-width: 100px) {
    	.ewe-masonry-tile {
        	min-width:100%;
        	width: 100%;
        	border-bottom: none !important;
        	margin-bottom:10px !important;
    	}
  
  	.ezywebevents-heading {       
    		font-size: 1.35em !important;    
	}

	.ezywebevents-date {    
    		font-size: 1.25em !important;    
	}
}
